<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <display-name>Archetype Created Web Application</display-name>

  <!--context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>/WEB-INF/logs/log4j.properties</param-value>
  </context-param>

  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>myWebapp-instance-root</param-value>
  </context-param-->

  <!--servlet>
    <servlet-name>DepartmentsAllController</servlet-name>
    <servlet-class>testtask.controller.departments.DepartmentsAllController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentsAllController</servlet-name>
    <url-pattern>/departments</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DepartmentsDelController</servlet-name>
    <servlet-class>testtask.controller.departments.DepartmentDelController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentsDelController</servlet-name>
    <url-pattern>/depDelete</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DepartmentsUpdateController</servlet-name>
    <servlet-class>testtask.controller.departments.DepartmentUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentsUpdateController</servlet-name>
    <url-pattern>/depUpdate</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DepartmentsSaveController</servlet-name>
    <servlet-class>testtask.controller.departments.DepartmentSaveController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentsSaveController</servlet-name>
    <url-pattern>/depSave</url-pattern>
  </servlet-mapping-->

</web-app>
